<form action="">
  <mat-form-field appearance="outline">
    <mat-label>Vorname*</mat-label>
    <input matInput placeholder="Dein Vorname" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nachname*</mat-label>
    <input matInput placeholder="Dein Nachname" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>E-Mail-Adresse*</mat-label>
    <input matInput placeholder="Deine E-Mail-Adresse" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Select*</mat-label>
    <mat-select>
      <mat-option value="one">Erstgespräch buchen</mat-option>
      <mat-option value="one">Weiteren Termin vereinbaren</mat-option>
      <mat-option value="two">Frage stellen</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Deine Nachricht</mat-label>
    <textarea matInput placeholder="Deine Nachricht"></textarea>
  </mat-form-field>
</form>
