<section>
  <best-button 
  routerLink="/home" 
  [caption]="'Startseite'"
  />
  <h1>Impressum</h1>

  <p class="block">Behutsam-stark - Traumasensibles Coaching</p>

  <p class="block">Verantwortlich für den Inhalt:</p>
  <p class="block">
    Katja Sommer <br />
    Max-Mustermann-Straße 12 <br />
    12345 Hamburg <br />
    Deutschland <br />
    Telefon: +49 (0) 123 4567890 <br />
    E-Mail: behutsam-stark&commat;sommer.de
  </p>

  <p class="block">
    Geschäftsführer: Katja Sommer <br />
    Handelsregister: Amtsgericht Musterstadt, <br />
    HRB 123456 <br />
    Umsatzsteuer-Identifikationsnummer: DE123456789
  </p>
</section>
