<section>
  <div class="section-wrapper">
    <div class="text-wrapper">
      <h1>Schreib mir</h1>
      <p>
        Hast du Fragen oder möchtest du einen Termin vereinbaren? Schreib mir
        &mdash; ich freue mich, dich kennenzulernen! Das zwanzigminütige
        Erstgespräch ist immer kostenlos und unverbindlich, damit wir in Ruhe
        herausfinden können, was du brauchst.
      </p>
    </div>
    <div class="contact-form-wrapper">
      <best-contact-form />
    </div>
  </div>
</section>
