<header>
  <div class="inner-header-wrapper">
    <div class="logo-wrapper">
      <a routerLink="/home">
        <img src="assets/icons/tree.png" alt="Behutsam-stark-Logo" />
      </a>
    </div>
    <p class="page-title">Behutsam-stark</p>
    <button
      mat-button
      [matMenuTriggerFor]="menu"
      class="menu-button"
      [class.open]="menuOpened"
      (click)="toggleMenu()"
    >
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </button>
    <mat-menu
      class="main-menu"
      #menu="matMenu"
      (opened)="menuOpened = true"
      (closed)="menuOpened = false"
    >
      <button class="menu-item" routerLink="/home" mat-menu-item>Start</button>
      <button class="menu-item" routerLink="/about" mat-menu-item>Über mich</button>
      <button class="menu-item" mat-menu-item [matMenuTriggerFor]="offers">Meine Angebote</button>
      <button class="menu-item" mat-menu-item>Preisrechner</button>
      <button class="menu-item" mat-menu-item>Newsletter</button>
      <button class="menu-item" mat-menu-item>Kontakt</button>
    </mat-menu>
    <mat-menu #offers="matMenu">
      <button class="menu-item" mat-menu-item>Traumasensibles Training</button>
      <button class="menu-item" mat-menu-item>Supervision & Workshops</button>
      <button class="menu-item" mat-menu-item>1 : 1-Coaching</button>
    </mat-menu>
  </div>
</header>


