<section>
  <div class="section-wrapper">
    <h1>Über mich</h1>
    <div class="image-wrapper">
      <img
        src="assets/img/katja-sommer-02-cropped.jpg"
        alt="Katja Sommer im Wald"
      />
    </div>
    <div class="text-wrapper">
      <p>Ich bin Katja, Heilpraktikerin, Coach und Supervisorin in Hamburg.</p>
      <p>
        Ich begleite Menschen, die sich selbst besser verstehen, Resilienz
        entwickeln und ihre Potenziale entfalten möchten.
      </p>
      <p>
        Dabei arbeite ich besonders gern mit neurodiversen Persönlichkeiten
        &mdash; Menschen, die oft das Gefühl haben, "nirgendwo richtig
        reinzupassen", und gleichzeitig eine große Tiefe, Klughheit und
        Kreativität in sich tragen.
      </p>
      <h2>Was mir wichtig ist</h2>
      <ul class="unordered-list-first-order">
        <li>
          Ich arbeite traumasensibel und achtsamkeitsbasiert, das heißt: Deine
          individuellen Bedürfnisse und Grenzen stehen immer im Mittelpunkt.
        </li>
        <li>
          Ich glaube daran, dass jede Person die Fähigkeit zur Veränderung und
          Heilung in sich trägt &mdash; auch wenn es sich manchmal nicht so
          anfühlt.
        </li>
        <li>
          Und auch du kannst deinen Weg in Würde und Kraft gehen, selbst wenn
          deine Vergangenheit möglicherweise sehr schwierig war &mdash; im Hier
          und Jetzt kannst du dich neu ausrichten und eine bessere Zukunft
          erschaffen.
        </li>
        <li>
          Meine wunderbare Aufgabe sehe ich darin, dir einen sicheren Raum zu
          bieten, in dem du wachsen kannst, gesehen und gewürdigt.
        </li>
        <li>
          Mir ist das professionelle und verantwortungsvolle Arbeiten gerade in
          diesem Bereich äußerst wichtig, deswegen nehme ich regelmäßig an
          Supervisionen und Intervisionen teil und bilde mich beständig weiter.
        </li>
      </ul>
      <h2>Warum ich das mache</h2>
      <ul class="unordered-list-first-order">
        <li>
          Ich kenne den Weg, auf dem du dich vielleicht gerade befindest, aus
          eigener Erfahrung.
        </li>
        <li>
          Als neurodivergente Person mit traumatischen Erfahrungen habe ich
          selbst nach Lösungen gesucht, meine innere Stabilität und Stärke
          (wieder) zu finden und meine eigenen Potenziale zu entfalten.
        </li>
        <li>Und: ich wurde fündig!</li>
      </ul>
      <h2>Was ich weitergeben möchte</h2>
      <p>
        Die folgenden Themen haben mir am meisten und nachhaltigsten
        weitergeholfen. Deshalb möchte ich sie gerne mit dir teilen.
      </p>
      <ul class="unordered-list-first-order">
        <li>das Wissen über Trauma, insbesondere</li>
        <li>
          überaus wirksame Übungen und Praktiken, die diese Erkenntinisse
          hervorgebracht haben, um mit Trauma ressourcen- und lösungsorientiert
          umzugehen
          <ul class="unordered-list-second-order">
            <li>
              die neurowissenschaftlichen Erkenntnisse aus dem somatischen
              Bereich (therapeutisches Yoga nach Arielle Schwartz, Somatic
              Experiencing nach Peter Levine),
            </li>
            <li>die Polyvagaltheorie (Stephen Porges u.a.),</li>
            <li>die Anteile-Arbeit (Inneres Team, Ego-State und IFS) und</li>
            <li>die Hypnosystemik (Gunther Schmidt u.a.)</li>
          </ul>
        </li>

        <li>
          wichtige Einsichten, Praktiken und Erfahrungen aus der Natur- und
          Wildnispädagogik, die sich an uralten indigenen Kulturen und Praktiken
          orientieren
        </li>
        <li>
          die spielerische Freude und Kraft, die sich im kreativen Tun wie
          bildender Kunst, Tanz, Theater und Schreiben entfalten können
        </li>
        <li>
          die Verwurzelung in einer spirituellen Praxis, die über Jahre aus
          dem intensiven Studium und den Praktiken vieler verschiedener Schulen
          erwachsen durfte
        </li>
      </ul>
    </div>
    <button mat-flat-button routerLink="/" class="custom-signal-button">
      Erstgespräch buchen
    </button>
  </div>
</section>
