// color variables: 
$white: #ffffff;
$primary-color: #999471;
$secondary-color: #DFD3BC;
$accent-color: #4E502F;
$signal-color: #C6924E;


// measurement variables: 
$mobile-header-height: 60px;
$desktop-header-height: 60px;

$mobile-footer-height: 80px;
$desktop-footer-height: 80px;