<section>
  <div class="section-wrapper">
    <h1>Beginne deine Reise ...</h1>
    <div class="post-it">
      <img src="assets/icons/post-it.png" alt="" />
      <div class="info">
        Info für Katja: <br />
        Die 3 Bilder für die Angebote sind nicht kostenfrei. Pro Stück kosten sie
        27€. Das Icon beim Newsletter kostet 9€.
        Die aktuellen Bilder sind Raubkopien, aber das kann nicht so bleiben.
      </div>
    </div>
    <div class="article-wrapper">
      <article>
        <figure>
          <img src="assets/icons/flower.png" alt="Blume" />
          <figcaption>Traumasensibles Training</figcaption>
        </figure>
        <p>
          Lerne, dein Nervensystem zu beruhigen, innere Stabilität zu finden und
          neue Perspektiven zu entwickeln.
        </p>
        <button mat-flat-button class="custom-signal-button">
          Mehr erfahren
        </button>
      </article>
      <article>
        <figure>
          <img src="assets/icons/mushroom.png" alt="Pilz" />
          <figcaption>Supervision & Workshops</figcaption>
        </figure>
        <p>
          Für Pädagoginnen und Pädagogen, Teams und Einzelpersonen &mdash;
          stressfrei, lösungsorientiert und praxisnah.
        </p>
        <button mat-flat-button class="custom-signal-button">
          Mehr erfahren
        </button>
      </article>
      <article>
        <figure>
          <img src="assets/icons/tree-one-line.png" alt="Baum" />
          <figcaption>1 : 1-Coaching</figcaption>
        </figure>
        <p>
          Persönliche Begleitung, die deine individuellen Stärken und
          Herausforderungen in den Mittelpunkt stellt.
        </p>
        <button mat-flat-button class="custom-signal-button">
          Mehr erfahren
        </button>
      </article>
    </div>
  </div>
</section>
