<section>
  <div class="section-wrapper">
    <div class="image-wrapper">
      <img src="../../assets/img/katja-sommer.jpg" alt="" />
    </div>
    <div class="text-wrapper">
      <h1>Herzlich willkommen!</h1>
      <div class="paragraph-wrapper">
        <p>
          Mein Name ist Katja Sommer und ich begleite Menschen mit neurodiversen
          Persönlichkeiten wie Hochbegabung oder ADHS dabei, ihr inneres
          Gleichgewicht zu finden und ihre Potenziale zu entfalten.
        </p>
        <p>
          Mit einer traumasensiblen und ganzheitlichen Herangehensweise
          unterstütze ich dich dabei, dein Nervensystem zu regulieren, Stress
          abzubauen und die Balance zwischen deinem Denken, Fühlen und Handeln
          zu stärken.
        </p>
        <p>
          Als Coach, Trainerin und Supervisorin bringe ich fachliche Kompetenz,
          fundiertes Wissen und viel Herz in meine Arbeit ein - und bin davon
          überzeugt, dass jeder Mensch mit der richtigen Begleitung in der Lage
          ist, sich weiterzuentwickeln.
        </p>
      </div>
      <button mat-flat-button class="custom-signal-button">
        Erstgespräch buchen
      </button>
    </div>
  </div>
</section>
